.brand-slider {
  margin-bottom: 80px;

  @include small-tablet {
    margin-bottom: 64px;
  }

		&__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      margin-bottom: 24px;

      @include small-tablet {
        margin-bottom: 16px;
      }
		}

    &__title {
      margin: 0;
    }

		&__nav {
      display: none;
      @include small-desktop {
        display: flex;
      }
		}

    &__slider {
      @include small-tablet {
        margin-right: -16px;
        padding-right: 16px;
      }
    }

    &__slider .swiper-wrapper {
      gap: 8px;
      @include small-desktop {
        gap: 0;
      }
    }

		&__slider .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      width: unset;

      @include small-desktop {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
      }
		}
}


