.breadcrumbs {
  @include tablet {
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 100vw;
    overflow-x: auto; /* Включаем скролл */
    overflow-y: hidden; /* Блокируем вертикальный скролл */
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
    scroll-behavior: smooth; /* Анимация скролла для более плавного поведения */

    /* Скрываем скроллбар в Chrome/Safari */
    &::-webkit-scrollbar {
        display: none;
    }
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 24px;

    @include tablet {
      max-width: 100%;
      min-width: min-content; /* важно для корректного скролла */
      white-space: nowrap; /* Запрещаем переносы */
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--grey);

    &:not(:last-child) {
      &::after {
        content: '/';
        color: currentColor;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    white-space: nowrap;
    color: currentColor;
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--accent);
    }

    &:focus-visible {
      outline: none;
      color: var(--black);
    }

    &.is-open {
      color: var(--accent);
    }

    & span {
      white-space: nowrap;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: currentColor;
    transition: transform .3s ease-in-out;

    .breadcrumbs__link:hover.is-open &,
    .breadcrumbs__link:focus-visible.is-open & {
      transform: rotate(-180deg);
    }

    @include tablet {
      display: none;
    }
  }

  &__item--current {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--black);
    user-select: none;
  }
}
