.breadcrumbs {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  // padding-top: 40px;
  margin-bottom: 24px;

  @include small-tablet {
    padding-top: 24px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--grey);

    &:not(:last-child) {
      &::after {
        content: '/';
        color: currentColor;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: currentColor;
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--accent);
    }

    &:focus-visible {
      outline: none;
      color: var(--black);
    }

    &.is-open {
      color: var(--accent);
    }

    & span {
      white-space: nowrap;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: currentColor;
    transition: transform .3s ease-in-out;

    .breadcrumbs__link:hover.is-open &,
    .breadcrumbs__link:focus-visible.is-open & {
      transform: rotate(-180deg);
    }
  }

  &__item--current {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--black);
    user-select: none;
  }
}
