.cart-delivery {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  border: 1px solid var(--border-info);
  border-radius: 10px;
  padding: 20px;
  background: var(--bg-info);

		&__icon {
      width: 24px;
      height: 24px;
		}

		&__info {
      display: flex;
      flex-direction: column;
      gap: 4px;
		}

		&__date {
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: var(--black);
		}

		&__note {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      color: var(--grey);
		}
}
