.cart-order {
  border-radius: 10px;
  padding: 24px;
  background: var(--bg);

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--black);

    & span:last-child {
      text-align: right;
    }

    &--data {
      margin-bottom: 8px;
    }

    &--discount {
      margin-bottom: 8px;
      & span:last-child {
        color: var(--accent);
      }
    }

    &--total {
      margin: 32px 0 16px;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      color: var(--black);
    }

  }

  // &__checkout {}
}
