.category-content {
  display: grid;
  grid-template-columns: 310px minmax(0, 1fr);
  gap: 24px;
  margin-bottom: 80px;

  @include big-desktop {
    grid-template-columns: 260px minmax(0, 1fr);
    gap: 24px;
  }

  @include small-tablet {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  @include mobile {
    margin-bottom: 64px;
  }

  &__area {
    max-width: 978px;

    @include small-tablet {
      max-width: unset;
    }
  }
}
