.custom-textarea {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey);
  }

  &__field {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 14px 16px;
    min-height: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    resize: none;
    transition: border-color .3s ease-in-out;

    &:focus-visible {
      outline: none;
      border-color: var(--light-red);
    }

    @include hover {
      border-color: var(--light-red);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--grey);
    }
  }
}
