  .discount {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 4px;
    padding: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--white);
    background: var(--accent);

    @include mobile {
      padding: 3px;
      font-weight: 700;
      font-size: 11px;
      line-height: 120%;
    }
  }
