.filter-widget {
  padding: 16px 0;
  border-bottom: 1px dashed var(--border);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    user-select: none;
  }

  &__toggle {
    flex-shrink: 0;
  }

  &__open {
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    fill: none;
    stroke-width: 1.5px;
    stroke: var(--grey);
    transform: rotate(0deg);
    user-select: none;
    pointer-events: none;
    transition: stroke 0.3s ease-in-out, transform 0.3s ease-in-out;

    .is-open & {
      transform: rotate(180deg);
    }

    .filter-widget__open:focus-visible &,
    .filter-widget__open:hover & {
      stroke: var(--accent);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin: -5px 0;
    padding: 5px 0;
  }

  &__more-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--accent);
    cursor: pointer;
    transition: color .3s ease-in-out;

    @include hover {
      color: var(--dark-red);
    }

    &:focus-visible {
      outline: none;
      color: var(--dark-red);
    }
  }
  [data-visible="true"] {
    display: block;
  }
  [data-visible="false"] {
    display: none;
  }

  &__tooltip {
    display: flex;
  }
}

[data-accordion-control] {
  transition: padding-bottom .3s ease-in-out;
    .is-open & {
      padding-bottom: 16px;
    }
}

[data-accordion-content] {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    box-sizing: content-box;
    transition: all .3s ease-out;

    .is-open & {
      max-height: max-content;
      opacity: 1;
    }
}
