.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey);

    &--required {
      &::after {
        content: '*';
        color: var(--accent);
      }

    }
  }

  &__input {
    padding: 14.5px 16px;
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;

    transition: border 0.3s ease-in;

    &:hover {
      border: 1px solid var(--light-red);
    }

    &:focus-visible {
      border: 1px solid var(--light-red);
      outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border-color: var(--accent);
      -webkit-box-shadow: 0 0 0px 40rem #ffffff inset;
    }
  }

  &__btn {}

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke-width: 1.5px;
    stroke: var(--grey);
  }
}
