.header {
  @include tablet {
    border-bottom: 1px solid var(--border);
  }

  &__nav {
    padding: 12px 0;
    background-color: var(--bg);

    @include small-desktop {
      display: none;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__bottom {
    display: none;
    @include small-tablet {
      display: block;
    }
  }
}

.header-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  border-top: 1px solid var(--border);
  padding-top: 16px;
  padding-bottom: 18px;
  background-color: var(--white);

		&__container {
      display: flex;
      justify-content: space-between;
      width: 100%;
		}

		&__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      color: var(--black);

      &--btn {
        border: none;
        padding: 0;
        color: currentColor;
        background: transparent;
      }
		}

		&__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      fill: none;
      stroke-width: 1.5px;
      stroke: currentColor;
      user-select: none;
		}

    &__icon--cart {
      fill: currentColor;
      stroke-width: 0;
      stroke: none;
    }

		&__text {
      font-weight: 400;
      font-size: 10px;
      line-height: 110%;
      color: var(--grey);
      user-select: none;
		}
}

