.nav-categories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;

		// &__item {}

		&__link {
      display: flex;
      align-items: center;
      gap: 4px;
      width: 100%;
      color: var(--black);
      transition: color var(--duration) ease-in-out;

      &:focus-visible {
        outline: none;
        color: var(--accent);

        & .filter-categories__icon {
          stroke: var(--accent);
        }
      }

      @include hover {
        color: var(--accent);

        & .filter-categories__icon {
          stroke: var(--accent);
        }
      }
		}


		&__name {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
		}

		&__count {
      font-weight: 400;
      font-size: 10px;
      line-height: 110%;
      color: var(--grey);
		}

		&__icon {
      margin-left: auto;
      width: 24px;
      height: 24px;
      fill: none;
      stroke: var(--grey);
      stroke-width: 2px;
      transform: rotate(90deg);
      transition: stroke var(--duration) ease-in-out;
		}
}
