.password-change {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 40px;
  border-radius: 24px;

  &__title {
    margin: 0 0 16px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__difficulty-text {
    display: block;
    margin: 0 0 8px;
  }

  &__difficulty-visual {
    margin: 0 0 12px;
    padding: 0;
    display: flex;
    gap: 4px;
  }

  &__difficulty-tab {
    display: inline-block;
    height: 4px;
    width: 44px;
    border-radius: 3px;
    background-color: var(--border);

    &--active {
      background-color: var(--orange);
    }
  }

  .account-data__password-btn {
    right: 17px;
  }

  &__close {
    width: 14px;
    height: 14px;
    color: var(--grey);
    top: 12px;
    right: 12px;
  }
}
