  .password-difficulty {
    &__text {
      display: block;
      margin: 0 0 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--grey);
    }

    &__visual {
      margin: 0 0 12px;
      padding: 0;
      display: flex;
      gap: 4px;
    }

    &__tab {
      display: inline-block;
      height: 4px;
      width: 44px;
      border-radius: 3px;
      background-color: var(--border);

      &--active {
        background-color: var(--orange);
      }
    }

  }
