.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: border-color var(--duration) ease-in-out;

  @include mobile {
    gap: 8px;
    padding: 8px;
  }

  &:has(.product-card__link:focus-visible) {
    outline: none;
    border-color: var(--accent);
  }

  @include hover {
    border-color: var(--accent);
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 2;

    &:focus-visible {
      outline: none;
    }
  }

  &__view {
    position: relative;
  }

  &__picture {
    display: flex;
  }

  &__price {
    & span:not(:last-child):not(.product-card__discount) {
      margin-right: 6px;

      @include mobile {
        margin-right: 4px;
      }
    }
  }

  &__price-current {
    font-weight: 800;
    font-size: 32px;
    line-height: 110%;
    text-align: center;
    color: var(--accent);

    @include mobile {
      font-size: 20px;
      line-height: 120%;
    }
  }

  &__price-unit {
    .product-card__price-current & {
      font-size: 16px;
      line-height: 140%;

      @include mobile {
        font-size: 12px;
        line-height: 120%;
      }
    }
  }

  &__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    text-decoration: line-through;
    text-align: center;
    white-space: nowrap;
    color: var(--grey);

    @include mobile {
      font-size: 12px;
      line-height: 110%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mobile {
      gap: 4px;
    }
  }


  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey);

    @include mobile {
      gap: 10px;
      font-size: 10px;
      line-height: 110%;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);

    @include mobile {
      font-size: 14px;
      line-height: 120%;
    }
  }

  &__descr {
    display: none; // display: -webkit-box;
    -webkit-line-clamp: 2;     /* Количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.4em;             /* Примерная высота 2 строк (1.4em на строку) */
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--grey);

    @include mobile {
      font-size: 10px;
      line-height: 110%;
    }
  }

  &__actions {
    position: relative;
    z-index: 2;
    display: none;
    align-items: center;
    gap: 8px;
    margin-top: 8px;


    @include small-desktop {
      margin-top: 4px;
    }

    .site-container--auth & {
      display: flex;
    }
  }

  &__quantity {
    flex-grow: 1;

    @include small-desktop {
      display: none;
    }
  }
}

[data-view-target="grid"] .product-card {
  &__price--grid {
    display: -webkit-box;
  }
  &__price--list {
    display: none;
  }
}

[data-view-target="list"] .product-card,
[data-view-target="extended-list"] .product-card {
  flex-direction: row;
  gap: 24px;

  @include small-desktop {
    gap: 16px;
  }

  @include tablet {
    flex-wrap: wrap;
    gap: 8px;
  }

  &__view {
    flex: 1 0 188px;

    @include small-desktop {
      flex: 1 0 160px;
    }

    @include tablet {
      flex-basis: calc(37% - 16px / 2);
    }
  }

  &__price--grid {
    display: none;
  }

  &__info {
    flex: 1 1 auto;
    width: 100%;
    padding-right: 24px;
    border-right: 1px solid var(--border);

    @include small-desktop {
      padding-right: 16px;
    }

     @include tablet {
      flex-basis: calc(63% - 16px / 2);
      border-right: none;
      padding: 0;
    }
  }

  &__descr {
    display: -webkit-box;

    @include small-tablet {
      -webkit-line-clamp: 3;
      height: calc(1.4em * 3);
    }
  }

  & .product-card-params {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0 0;
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    height: unset;
    background-color: var(--bg);

    &__row {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--black);

      &::after {
        display: none;
      }

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
      }
    }

    &__bottom {
      flex-grow: 1;
      border-bottom: 1px dashed var(--border);
      width: 100%;

      @include mobile {
        display: none;
      }
    }

    &__value, &__param {
      flex-shrink: 0;
    }
    &__value {
      font-weight: 500;
      text-align: right;
    }
  }

  & .product-card__price span:not(:last-child):not(.product-card__discount) {
    margin-right: 0;
  }

  &__actions {
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 200px;
    margin-top: 0;

    @include small-desktop {
      flex: 1 0 188px;
    }

    @include tablet {
      flex: 1 0 100%;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__price--list {
    display: block;
    margin-bottom: 8px;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 0;
      flex-basis: calc(37% - 8px / 2);
    }
  }

  & .price__current {
    @include mobile {
      font-size: 32px;
      line-height: 110%;
    }
  }
  & .price__old {
    @include mobile {
      font-size: 14px;
      line-height: 110%;
    }
  }

  &__quantity {
    flex-grow: unset;
    width: 100%;

    @include small-desktop {
      display: block;
    }
    @include tablet {
      flex-basis: calc(63% - 8px / 2);
    }
  }

  &__add-to-cart {
    width: 100%;

    @include tablet {
      flex-basis: calc(63% - 8px / 2);
    }
  }

  & .add-to-cart__text {
    display: block;
  }
  & .add-to-cart__count {
    display: none;
  }
  & .add-to-cart__icon {
    display: none;
  }
}

[data-view-target="extended-list"] .product-card {
  &__view {
    flex: 1 0 146px;

    @include tablet {
      flex-grow: 0;
      flex-basis: calc(37% - 16px / 2);
    }
  }

  &__descr {
    display: none;
  }

  & .product-card-params {
    border-radius: unset;
    padding: 0;
    background-color: transparent;
  }
}
