.product-post {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 80px;

  @include small-tablet {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 62px;
  }

  &__view {
    position: relative;
    display: flex;
    width: 40%;

    @include small-tablet {
      width: 100%;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 100%;
      aspect-ratio: 533/568;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 60%;

    @include small-tablet {
      width: 100%;
    }
  }

  &__brand {
    margin-bottom: 24px;

    @include small-tablet {
      margin-bottom: 16px;
    }

    & img {
      aspect-ratio: 198/62;

      @include small-tablet {
        max-width: 168px;
      }
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    @include small-tablet {
      margin-bottom: 16px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--black);

    @include small-tablet {
      font-size: 20px;
      line-height: 120%;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__sku {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey);

    @include small-tablet {
      font-size: 14px;
      line-height: 120%;
    }
  }

  &__status {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--green);

    @include small-tablet {
      font-size: 14px;
      line-height: 120%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      z-index: 2;
      flex-shrink: 0;
      display: block;
      border-radius: 100%;
      width: 10px;
      height: 10px;
      background-color: #06c92e;

      @include small-tablet {
        top: 3.5px;
      }
    }
  }

  &__sta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 24px;
    border-radius: 10px;
    padding: 16px;
    background-color: var(--bg);
  }

  &__action {
    display: none;
    align-items: center;
    gap: 8px;
    width: 100%;

    .site-container--auth & {
      display: flex;
    }
  }

  &__quantity,
  &__add-to-cart {
    width: calc(50% - 8px / 2);
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);

    @include small-tablet {
      font-size: 14px;
      line-height: 120%;
    }
  }

  &__message {
    display: block;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--grey);

    @include small-tablet {
      font-size: 14px;
      line-height: 120%;
    }

    & a {
      margin: 0;
      font-weight: 500;
      color: var(--accent);
      transition: color .3s ease-in-out;

      &:focus-visible {
        outline: none;
        color: var(--dark-red)
      }

      @include hover {
        color: var(--dark-red)
      }
    }

    .site-container--auth & {
      display: none;
    }
  }

  &__params {
    margin-bottom: 20px;
  }
}

