.sidebar {

  &__secion {
    position: sticky;
    top: 40px;
    height: fit-content;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
  }
}
