.thanks {
  margin-bottom: 80px;
  max-width: 420px;

  @include small-tablet {
    margin-bottom: 64px;
  }

		&__title {
      margin-bottom: 16px;
		}

		&__text {
      margin: 0 0 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--grey);

      @include small-tablet {
        font-size: 14px;
        line-height: 120%;
      }

      & span {
        font-weight: 600;
        color: var(--accent);
      }
		}

    &__text--delivery {
      & span {
        font-weight: 600;
        color: var(--black);
      }
		}

		&__actions {
      display: flex;
      gap: 16px;
      align-items: center;
      margin-top: 24px;
		}
}
