.thanks {
  margin-bottom: 80px;
  max-width: 420px;

		&__title {
      margin-bottom: 16px;
		}

		&__text {
      margin: 0 0 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--grey);

      & span {
        font-weight: 600;
        color: var(--accent);
      }
		}

    &__text--delivery {
      & span {
        font-weight: 600;
        color: var(--black);
      }
		}

		&__actions {
      display: flex;
      gap: 16px;
      align-items: center;
		}
}
