<ul class="account-content__nav list-reset">
  <li class="account-content__nav-item">
    <button class="btn-reset tabs__nav-btn account-content__button" type="button" data-section-path="myDetails">
      <span class="account-content__button-text">Мои данные</span>
      <span class="account-content__button-icon">
        <svg class="account-content__button-icon">
          <use xlink:href="img/sprite.svg#chevron-right"></use>
        </svg>
      </span>
    </button>
  </li>
  <li class="account-content__nav-item">
    <button class="btn-reset tabs__nav-btn account-content__button" type="button" data-section-path="orderHistory">
      <span class="account-content__button-text">История заказов</span>
      <svg class="account-content__button-icon">
        <use xlink:href="img/sprite.svg#chevron-right"></use>
      </svg>
    </button>
  </li>
  <li class="account-content__nav-item">
    <button class="btn-reset tabs__nav-btn account-content__button" type="button" data-section-path="MyPurchases">
      <span class="account-content__button-text">Мои покупки</span>
      <span class="account-content__button-icon">
        <svg class="account-content__button-icon">
          <use xlink:href="img/sprite.svg#chevron-right"></use>
        </svg>
      </span>
    </button>
  </li>
  <li class="account-content__nav-item">
    <button class="btn-reset account-content__button account-content__button--grey open-modal-btn"
      data-graph-path="exitModal" type="button">
      <span class="account-content__button-text">Выйти</span>
    </button>
  </li>
</ul>
