<section class="brand-slider">
  <div class="brand-slider__heading">
    <h2 class="brand-slider__title main-title">Бренды</h2>
    <div class="brand-slider__nav slider-nav">
      <button class="brand-slider__btn-prev slider-nav__btn slider-nav__btn--prev">
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-down"></use>
        </svg>
      </button>
      <button class="brand-slider__btn-next slider-nav__btn slider-nav__btn--next">
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper brand-slider__slider slider">
    <div class="swiper-wrapper">
      <!-- Слайд START -->
      <div class="swiper-slide">
        <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
      <!-- Слайд END -->
      <div class="swiper-slide">
        <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
      <div class="swiper-slide">
         <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
      <div class="swiper-slide">
         <a href="#" class="brand-card">
          <picture class="brand-card__img">
            <source srcset="img/brand/logo-lavr.webp 1x img/brand/logo-lavr@2x.webp 2x" type="image/webp">
            <img src="img/brand/logo-lavr.png" srcset="img/brand/logo-lavr@2x.png" width="134" height="68" alt="brand img">
          </picture>
        </a>
      </div>
    </div>
  </div>
</section>
