<nav class="breadcrumbs section-offset" itemscope itemtype="https://schema.org/BreadcrumbList">
  <ul class="breadcrumbs__list list-reset">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="breadcrumbs__link" href="/" title="Главная" itemprop="item">
        <span itemprop="name">Главная</span>
        <meta itemprop="position" content="1" />
      </a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="breadcrumbs__link" href="/cart.html/" title="Корзина" itemprop="item">
        <span itemprop="name">Корзина</span>
        <meta itemprop="position" content="2" />
      </a>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">Оформление заказа</span>
      <meta itemprop="position" content="3" />
    </li>
  </ul>
</nav>
