<nav class="breadcrumbs section-offset" itemscope itemtype="https://schema.org/BreadcrumbList">
  <ul class="breadcrumbs__list list-reset">
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="breadcrumbs__link" href="/" title="Главная" itemprop="item">
        <span itemprop="name">Главная</span>
        <meta itemprop="position" content="1" />
      </a>
    </li>
    <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a class="breadcrumbs__link" href="/catalog.html/" title="Каталог" itemprop="item">
        <span itemprop="name">Каталог</span>
        <svg class="breadcrumbs__icon">
          <use xlink:href="img/sprite.svg#icon-arrow-breadcrumbs"></use>
        </svg>
        <meta itemprop="position" content="2" />
      </a>
      <ul class="breadcrumbs__drop breadcrumbs-drop">
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Моторные масла</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Другие масла и спецжидкости</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Тех.жидкости</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Фильтры</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Автомобильная химия</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Смазки</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Прочее</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Аккумуляторы</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">Для дома и офиса</a></li>
        <li class="breadcrumbs-drop__item"><a href="#" class="breadcrumbs-drop__link">POS-материалы</a></li>
      </ul>
    </li>
    <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">Наименование категории</span>
      <meta itemprop="position" content="3" />
    </li>
  </ul>
</nav>
