<section class="cart-content">
  <div class="cart-content__heading">
    <h1 class="cart-content__title main-title">Корзина<span class="cart-content__counter">1234 товаров</span></h1>
    <button class="cart-content__btn-clear">Очистить корзину</button>
  </div>
  <!-- Основной блок с товарами -->
  <div class="cart-content__inner">
    <!-- Список товаров -->
    <ul class="cart-content__products">
      <li class="cart-content__product">
        <div class="cart-product cart-product--cart">
          <div class="cart-product__info">
            <a href="#" class="cart-product__thumbnail" title="">
              <picture class="cart-product__img">
                <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x," type="image/webp">
                <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="87" height="87" alt="Изображение товара">
              </picture>
            </a>
            <div class="cart-product__data">
              <span class="cart-product__sku">Артикул: 43102</span>
              <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка (жидкий ключ) 360мл,</a>
            </div>
          </div>
          <div class="cart-product__action">
            <div class="cart-product__quantity">
              <!-- Количество -->
              <div class="quantity">
                <div class="quantity__control" aria-label="Выбор количества">
                  <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="quantity__value" aria-label="Количество товара">1</span>
                  <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <span class="cart-product__unit-price">1352.00 р./шт.</span>
            </div>
            <!-- Цены -->
            <div class="cart-product__price price price--row">
              <span class="price__current">4900.00 <span class="price__unit">р.</span></span>
              <span class="price__old"><no-typography>- 1352.00</no-typography> <span class="price__unit">р.</span></span>
            </div>
          </div>
          <!-- Удалить -->
          <button class="cart-product__btn-remote btn-remote" aria-label="Удалить товар из корзины">
            <svg class="btn-remote__icon">
              <use xlink:href="img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cart-content__product">
        <div class="cart-product cart-product--cart">
          <div class="cart-product__info">
            <a href="#" class="cart-product__thumbnail" title="">
              <picture class="cart-product__img">
                <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x," type="image/webp">
                <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="87" height="87" alt="Изображение товара">
              </picture>
            </a>
            <div class="cart-product__data">
              <span class="cart-product__sku">Артикул: 43102</span>
              <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка (жидкий ключ) 360мл,</a>
            </div>
          </div>
          <div class="cart-product__action">
            <div class="cart-product__quantity">
              <!-- Количество -->
              <div class="quantity">
                <div class="quantity__control" aria-label="Выбор количества">
                  <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="quantity__value" aria-label="Количество товара">1</span>
                  <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <span class="cart-product__unit-price">1352.00 р./шт.</span>
            </div>
            <!-- Цены -->
            <div class="cart-product__price price price--row">
              <span class="price__current">4900.00 <span class="price__unit">р.</span></span>
              <span class="price__old"><no-typography>- 1352.00</no-typography> <span class="price__unit">р.</span></span>
            </div>
          </div>
          <!-- Удалить -->
          <button class="cart-product__btn-remote btn-remote" aria-label="Удалить товар из корзины">
            <svg class="btn-remote__icon">
              <use xlink:href="img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cart-content__product">
        <div class="cart-product cart-product--cart">
          <div class="cart-product__info">
            <a href="#" class="cart-product__thumbnail" title="">
              <picture class="cart-product__img">
                <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x," type="image/webp">
                <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="87" height="87" alt="Изображение товара">
              </picture>
            </a>
            <div class="cart-product__data">
              <span class="cart-product__sku">Артикул: 43102</span>
              <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка (жидкий ключ) 360мл,</a>
            </div>
          </div>
          <div class="cart-product__action">
            <div class="cart-product__quantity">
              <!-- Количество -->
              <div class="quantity">
                <div class="quantity__control" aria-label="Выбор количества">
                  <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="quantity__value" aria-label="Количество товара">1</span>
                  <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <span class="cart-product__unit-price">1352.00 р./шт.</span>
            </div>
            <!-- Цены -->
            <div class="cart-product__price price price--row">
              <span class="price__current">4900.00 <span class="price__unit">р.</span></span>
              <span class="price__old"><no-typography>- 1352.00</no-typography> <span class="price__unit">р.</span></span>
            </div>
          </div>
          <!-- Удалить -->
          <button class="cart-product__btn-remote btn-remote" aria-label="Удалить товар из корзины">
            <svg class="btn-remote__icon">
              <use xlink:href="img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="cart-content__product">
        <div class="cart-product cart-product--cart cart-product--not-stoke">
          <div class="cart-product__info">
            <a href="#" class="cart-product__thumbnail" title="">
              <picture class="cart-product__img">
                <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x," type="image/webp">
                <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="87" height="87" alt="Изображение товара">
              </picture>
            </a>
            <div class="cart-product__data">
              <span class="cart-product__sku">Артикул: 43102</span>
              <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка (жидкий ключ) 360мл,</a>
            </div>
          </div>
          <div class="cart-product__action">
            <div class="cart-product__quantity">
              <!-- Количество -->
              <div class="quantity">
                <div class="quantity__control" aria-label="Выбор количества">
                  <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-minus"></use>
                    </svg>
                  </button>
                  <span class="quantity__value" aria-label="Количество товара">1</span>
                  <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                    <svg class="quantity__icon">
                      <use xlink:href="img/sprite.svg#icon-plus"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <span class="cart-product__unit-price">1352.00 р./шт.</span>
            </div>
            <!-- Цены -->
            <div class="cart-product__price price price--row">
              <span class="price__current">4900.00 <span class="price__unit">р.</span></span>
              <span class="price__old"><no-typography>- 1352.00</no-typography> <span class="price__unit">р.</span></span>
            </div>
            <!-- Наличие -->
             <span class="cart-product__status">Нет в наличии</span>
          </div>
          <!-- Удалить -->
          <button class="cart-product__btn-remote btn-remote" aria-label="Удалить товар из корзины">
            <svg class="btn-remote__icon">
              <use xlink:href="img/sprite.svg#icon-trash"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <!-- Блок итогов -->
    <div class="cart-content__order">
      <div class="cart-order">
        <div class="cart-order__item cart-order__item--data">
          <span>3 товара</span>
          <span>246,00 р.</span>
        </div>
        <div class="cart-order__item cart-order__item--discount">
          <span>Скидка</span>
          <span><no-typography>- 62,20 р.</no-typography></span>
        </div>
        <div class="cart-order__item cart-order__item--total">
          <span>Итого</span>
          <span>183,80 р.</span>
        </div>
        <a href="checkout.html" class="cart-order__checkout btn btn--full">Оформить заказ</a>
      </div>
      <!-- Доставка -->
      <div class="cart-delivery">
        <img class="cart-delivery__icon" src="img/icon-info.svg" alt="иконка" width="24" height="24" aria-hidden="true">
        <div class="cart-delivery__info">
          <span class="cart-delivery__date">01.06.2025 (четверг)</span>
          <span class="cart-delivery__note">Ближайшая дата доставки</span>
        </div>
      </div>
    </div>
  </div>
</section>
