<section class="category-section">
  <div class="category-section__heading">
    <h2 class="category-section__title">Другие масла и спецжидкости</h2>
    <a href="#" class="category-section__link">Все</a>
    <div class="category-section__nav slider-nav">
      <button class="category-section__btn-prev slider-nav__btn slider-nav__btn--prev">
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-down"></use>
        </svg>
      </button>
      <button class="category-section__btn-next slider-nav__btn slider-nav__btn--next">
        <svg class="slider-nav__icon">
          <use xlink:href="img/sprite.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper category-section__slider slider">
    <div class="swiper-wrapper">
      <!-- Слайд START -->
      <div class="swiper-slide">
        <!-- Карточка товара -->
        <a href="#" class="product-card">
          <div class="product-card__view">
            <!-- Бейджи -->
            <ul class="product-card__badges badges">
              <li class="badges__item badges__item--hit">хит</li>
              <li class="badges__item badges__item--new">новинка</li>
            </ul>
            <!-- Скидка -->
            <span class="product-card__discount">-12%</span>
            <!-- Изображение -->
            <picture class="product-card__picture">
              <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="211" height="211" alt="Изображение товара">
            </picture>
          </div>
          <!-- Цены -->
          <div class="product-card__price price">
            <span class="price__current">4000 <span class="price__unit">р.</span></span>
            <span class="price__old">10000 <span class="price__unit">р.</span></span>
          </div>
          <div class="product-card__info">
            <div class="product-card__meta">
              <!-- Бренд -->
              <span class="product-card__brand">VOLGA OIL</span>
              <!-- Артикул -->
              <span class="product-card__sku">Арт.: 800809</span>
            </div>
            <!-- Название -->
            <h3 class="product-card__title">VOLGA OIL Дизель М-10Г2к 10л.</h3>
            <!-- Описание -->
            <p class="product-card__descr">Тип базового масла: Минеральное, Тип двигателя: дизельный, Класс вязкости: 30</p>
          </div>
          <div class="product-card__actions">
            <!-- Количество -->
            <div class="product-card__quantity quantity">
              <div class="quantity__label visually-hidden">Количество:</div>
              <div class="quantity__control" aria-label="Выбор количества">
                <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-minus"></use>
                  </svg>
                </button>
                <span class="quantity__value" aria-label="Количество товара">1</span>
                <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-plus"></use>
                  </svg>
                </button>
              </div>
            </div>
            <!-- Кнпока Добавить в корзину -->
            <button class="product-card__add-to-cart add-to-cart" aria-label="Добавить в корзину">
              <span class="add-to-cart__text">Купить</span>
              <span class="add-to-cart__count">1</span>
              <svg class="add-to-cart__icon">
                <use xlink:href="img/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </div>
        </a>
      </div>
      <!-- Слайд END -->
      <div class="swiper-slide">
        <!-- Карточка товара -->
        <a href="#" class="product-card">
          <div class="product-card__view">
            <!-- Бейджи -->
            <ul class="product-card__badges badges">
              <li class="badges__item badges__item--hit">хит</li>
              <li class="badges__item badges__item--new">новинка</li>
            </ul>
            <!-- Скидка -->
            <span class="product-card__discount">-12%</span>
            <!-- Изображение -->
            <picture class="product-card__picture">
              <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="211" height="211" alt="Изображение товара">
            </picture>
          </div>
          <!-- Цены -->
          <div class="product-card__price price">
            <span class="price__current">4000 <span class="price__unit">р.</span></span>
            <span class="price__old">10000 <span class="price__unit">р.</span></span>
          </div>
          <div class="product-card__info">
            <div class="product-card__meta">
              <!-- Бренд -->
              <span class="product-card__brand">VOLGA OIL</span>
              <!-- Артикул -->
              <span class="product-card__sku">Арт.: 800809</span>
            </div>
            <!-- Название -->
            <h3 class="product-card__title">VOLGA OIL Дизель М-10Г2к 10л.</h3>
            <!-- Описание -->
            <p class="product-card__descr">Тип базового масла: Минеральное, Тип двигателя: дизельный, Класс вязкости: 30</p>
          </div>
          <div class="product-card__actions">
            <!-- Количество -->
            <div class="product-card__quantity quantity">
              <div class="quantity__label visually-hidden">Количество:</div>
              <div class="quantity__control" aria-label="Выбор количества">
                <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-minus"></use>
                  </svg>
                </button>
                <span class="quantity__value" aria-label="Количество товара">1</span>
                <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-plus"></use>
                  </svg>
                </button>
              </div>
            </div>
            <!-- Кнпока Добавить в корзину -->
            <button class="product-card__add-to-cart add-to-cart" aria-label="Добавить в корзину">
              <span class="add-to-cart__text">Купить</span>
              <span class="add-to-cart__count">1</span>
              <svg class="add-to-cart__icon">
                <use xlink:href="img/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <!-- Карточка товара -->
        <a href="#" class="product-card">
          <div class="product-card__view">
            <!-- Бейджи -->
            <ul class="product-card__badges badges">
              <li class="badges__item badges__item--hit">хит</li>
              <li class="badges__item badges__item--new">новинка</li>
            </ul>
            <!-- Скидка -->
            <span class="product-card__discount">-12%</span>
            <!-- Изображение -->
            <picture class="product-card__picture">
              <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="211" height="211" alt="Изображение товара">
            </picture>
          </div>
          <!-- Цены -->
          <div class="product-card__price price">
            <span class="price__current">4000 <span class="price__unit">р.</span></span>
            <span class="price__old">10000 <span class="price__unit">р.</span></span>
          </div>
          <div class="product-card__info">
            <div class="product-card__meta">
              <!-- Бренд -->
              <span class="product-card__brand">VOLGA OIL</span>
              <!-- Артикул -->
              <span class="product-card__sku">Арт.: 800809</span>
            </div>
            <!-- Название -->
            <h3 class="product-card__title">VOLGA OIL Дизель М-10Г2к 10л.</h3>
            <!-- Описание -->
            <p class="product-card__descr">Тип базового масла: Минеральное, Тип двигателя: дизельный, Класс вязкости: 30</p>
          </div>
          <div class="product-card__actions">
            <!-- Количество -->
            <div class="product-card__quantity quantity">
              <div class="quantity__label visually-hidden">Количество:</div>
              <div class="quantity__control" aria-label="Выбор количества">
                <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-minus"></use>
                  </svg>
                </button>
                <span class="quantity__value" aria-label="Количество товара">1</span>
                <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-plus"></use>
                  </svg>
                </button>
              </div>
            </div>
            <!-- Кнпока Добавить в корзину -->
            <button class="product-card__add-to-cart add-to-cart" aria-label="Добавить в корзину">
              <span class="add-to-cart__text">Купить</span>
              <span class="add-to-cart__count">1</span>
              <svg class="add-to-cart__icon">
                <use xlink:href="img/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <!-- Карточка товара -->
        <a href="#" class="product-card">
          <div class="product-card__view">
            <!-- Бейджи -->
            <ul class="product-card__badges badges">
              <li class="badges__item badges__item--hit">хит</li>
              <li class="badges__item badges__item--new">новинка</li>
            </ul>
            <!-- Скидка -->
            <span class="product-card__discount">-12%</span>
            <!-- Изображение -->
            <picture class="product-card__picture">
              <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x" type="image/webp">
              <img loading="lazy" src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x" width="211" height="211" alt="Изображение товара">
            </picture>
          </div>
          <!-- Цены -->
          <div class="product-card__price price">
            <span class="price__current">4000 <span class="price__unit">р.</span></span>
            <span class="price__old">10000 <span class="price__unit">р.</span></span>
          </div>
          <div class="product-card__info">
            <div class="product-card__meta">
              <!-- Бренд -->
              <span class="product-card__brand">VOLGA OIL</span>
              <!-- Артикул -->
              <span class="product-card__sku">Арт.: 800809</span>
            </div>
            <!-- Название -->
            <h3 class="product-card__title">VOLGA OIL Дизель М-10Г2к 10л.</h3>
            <!-- Описание -->
            <p class="product-card__descr">Тип базового масла: Минеральное, Тип двигателя: дизельный, Класс вязкости: 30</p>
          </div>
          <div class="product-card__actions">
            <!-- Количество -->
            <div class="product-card__quantity quantity">
              <div class="quantity__label visually-hidden">Количество:</div>
              <div class="quantity__control" aria-label="Выбор количества">
                <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-minus"></use>
                  </svg>
                </button>
                <span class="quantity__value" aria-label="Количество товара">1</span>
                <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-plus"></use>
                  </svg>
                </button>
              </div>
            </div>
            <!-- Кнпока Добавить в корзину -->
            <button class="product-card__add-to-cart add-to-cart" aria-label="Добавить в корзину">
              <span class="add-to-cart__text">Купить</span>
              <span class="add-to-cart__count">1</span>
              <svg class="add-to-cart__icon">
                <use xlink:href="img/sprite.svg#icon-cart"></use>
              </svg>
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
