<section class="checkout-content">
  <h1 class="checkout-content_title main-title">Оформление заказа</h1>
  <div class="checkout-content__inner">
    <ul class="checkout-content__list">
      <li class="checkout-content__item"></li>
      <li class="checkout-content__item"></li>
      <li class="checkout-content__item"></li>
    </ul>
    <div class="checkout-content__order">
      <div class="cart-order">
        <div class="cart-order__item cart-order__item--data">
          <span>3 товара</span>
          <span>246,00 р.</span>
        </div>
        <div class="cart-order__item cart-order__item--discount">
          <span>Скидка</span>
          <span>- 62,20 р.</span>
        </div>
        <div class="cart-order__item cart-order__item--total">
          <span>Итого</span>
          <span>183,80 р.</span>
        </div>
        <a href="checkout.html" class="cart-order__checkout btn btn--full">Оформить заказ</a>
      </div>
    </div>
  </div>
</section>

