<footer class="footer">
  <div class="footer-top">
    <div class="footer-top__container container">
      <!-- Логотип, текст -->
      <div class="footer-top__item">
        <a href="/" class="footer-top__logo logo">
          <img class="logo__img" src="img/logo-color.svg" alt="логотип сайта Автопартнер" width="199" height="51">
        </a>
        <p class="footer-top__text">Официальный представитель «ЛУКОЙЛ» в Краснодарском крае.</p>
      </div>

      <!-- Меню каталог -->
      <div class="footer-top__item footer-top__item--main-menu footer-menu">
        <span class="footer-menu__caption">Каталог</span>
        <ul class="footer-menu__list">
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Моторные масла</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Другие масла и спецжидкости</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Тех.жидкости</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Фильтры</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Автомобильная химия</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Смазки</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Прочее</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Аккумуляторы</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">Для дома и офиса</a></li>
          <li class="footer-menu__item"><a href="#" class="footer-menu__link ui-link">POS-материалы</a></li>
        </ul>
      </div>

      <!-- Меню информмация -->
      <div class="footer-top__item footer-menu">
        <span class="footer-menu__caption">Информация</span>
        <ul class="footer-menu__list">
          <li class="footer-menu__item"><a href="/" class="footer-menu__link ui-link">Главная</a></li>
          <li class="footer-menu__item"><a href="catalog.html" class="footer-menu__link ui-link">Каталог</a></li>
          <li class="footer-menu__item"><a href="promotion.html" class="footer-menu__link ui-link">Акции</a></li>
          <li class="footer-menu__item"><a href="contacts.html" class="footer-menu__link ui-link">Контакты</a></li>
        </ul>
      </div>

      <!-- Телефон -->
      <div class="footer-top__item phone">
        <span class="phone__caption">Звоните и мы ответим!</span>
        <a href="tel:+89183700070" class="phone__link">
          <svg class="phone__icon">
            <use xlink:href="img/sprite.svg#icon-phone"></use>
          </svg>
          <span class="phone__text">8(918)370-00-70</span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__container container">
      <p class="footer-bottom__made">Разработано&nbsp;<a href="#" class="footer-bottom__made-link" target="_blank">Digital brand</a></p>
      <p class="footer-bottom__copyright">Copyright © 2025 Все права защищены.</p>
      <button class="footer-bottom__topbtn topbtn" type="button">
        <span class="topbtn__text">Вернуться наверх</span>
        <svg class="topbtn__icon">
          <use xlink:href="img/sprite.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
  </div>
</footer>
