<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="site descr">
  <meta name="keywords" content="site words">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="site url">
  <meta property="og:title" content="Автопартнер">
  <meta property="og:description" content="site descr">
  <meta property="og:image" content="img/site-preview.jpg">
  <meta property="og:url" content="site url">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="site url">
  <meta name="twitter:title" content="Автопартнер">
  <meta name="twitter:description" content="site descr">
  <meta name="twitter:image" content="img/site-preview.jpg">

  <title>Автопартнер</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon//site.webmanifest">
  <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">

  <link rel="preload" href="fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/Inter-ExtraBold.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
