<div class="message-list" id="messageList">
  <!-- <div class="message">
    <img class="message__icon" src="img/icon-info.svg" alt="иконка" width="24" height="24" aria-hidden="true">
    <div class="message__info">
      <span class="message__date">01.06.2025 (четверг)</span>
      <span class="message__note">Ближайшая дата доставки</span>
    </div>
    <button class="message__close" type="button">
      <svg>
        <use xlink:href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="message message--success">
    <img class="message__icon" src="img/icon-success.svg" alt="иконка" width="24" height="24" aria-hidden="true">
    <div class="message__info">
      <span class="message__date">01.06.2025 (четверг)</span>
      <span class="message__note">Ближайшая дата доставки</span>
    </div>
    <button class="message__close" type="button">
      <svg>
        <use xlink:href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="message message--error">
    <img class="message__icon" src="img/icon-error.svg" alt="иконка" width="24" height="24" aria-hidden="true">
    <div class="message__info">
      <span class="message__date">Товар удалён</span>
      <span class="message__note">Товар 123456485 удален из корзины</span>
    </div>
    <button class="message__return btn btn--stroke" type="button">Вернуть</button>
    <button class="message__close" type="button">
      <svg>
        <use xlink:href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div> -->
</div>
