<div class="orderinfo is-hidden" data-section-content="ID-order">
  <button class="orderinfo__btn btn btn-reset" type="button" data-section-path="orderHistory">
    <svg class="orderinfo__btn-icon">
      <use xlink:href="img/sprite.svg#chevron-left"></use>
    </svg>
    Назад</button>
  <h2 class="orderinfo__title">Заказ №1981-01-cl</h2>
  <ul class="orderinfo__wrap list-reset">
    <li class="orderinfo__wrap-item">
      <h3 class="orderinfo__wrap-title">Данные о заказе</h3>
      <ul class="orderinfo__data list-reset">
        <li class="orderinfo__data-item">
          <span class="orderinfo__data-name">ID заказ</span>
          <span class="orderinfo__dashed-line"></span>
          <span class="orderinfo__data-value">№4123652365</span>
        </li>
        <li class="orderinfo__data-item">
          <span class="orderinfo__data-name">Дата оформления</span>
          <span class="orderinfo__dashed-line"></span>
          <span class="orderinfo__data-value">27.05.2025</span>
        </li>
        <li class="orderinfo__data-item">
          <span class="orderinfo__data-name">Дата доставки</span>
          <span class="orderinfo__dashed-line"></span>
          <span class="orderinfo__data-value">01.06.2025</span>
        </li>
        <li class="orderinfo__data-item">
          <span class="orderinfo__data-name">Статус</span>
          <span class="orderinfo__dashed-line"></span>
          <span class="orderinfo__data-value account-orders__status">Принят</span>
        </li>
        <li class="orderinfo__data-item">
          <span class="orderinfo__data-name">К оплате</span>
          <span class="orderinfo__dashed-line"></span>
          <span class="orderinfo__data-value">50 000 ₽</span>
        </li>
      </ul>
    </li>
    <li class="orderinfo__wrap-item">
      <h3 class="orderinfo__wrap-title">Ваш заказ</h3>
      <ul class="orderinfo__contents list-reset">
        <li class="orderinfo__product">
          <div class="cart-product cart-product--orderinfo">
            <div class="cart-product__info">
              <a href="#" class="cart-product__thumbnail" title="">
                <picture class="cart-product__img">
                  <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x"
                    type="image/webp">
                  <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x"
                    width="87" height="87" alt="Изображение товара">
                </picture>
              </a>
              <div class="cart-product__data">
                <span class="cart-product__sku">Артикул: 43102</span>
                <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка
                  (жидкий ключ) 360мл,</a>
              </div>
            </div>
            <div class="cart-product__action">
              <span class="cart-product__orderinfo-quantity">3 шт.</span>
              <div class="cart-product__price price price--row cart-product__price--orderinfo">
                <span class="price__current">4900.00<span class="price__unit">р.</span></span>
                <span class="price__old">1200<span class="price__unit">р./шт.</span></span>
              </div>
            </div>
          </div>
        </li>
        <li class="orderinfo__product">
          <div class="cart-product cart-product--orderinfo">
            <div class="cart-product__info">
              <a href="#" class="cart-product__thumbnail" title="">
                <picture class="cart-product__img">
                  <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x"
                    type="image/webp">
                  <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x"
                    width="87" height="87" alt="Изображение товара">
                </picture>
              </a>
              <div class="cart-product__data">
                <span class="cart-product__sku">Артикул: 43102</span>
                <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка
                  (жидкий ключ) 360мл,</a>
              </div>
            </div>
            <div class="cart-product__action">
              <span class="cart-product__orderinfo-quantity">3 шт.</span>
              <div class="cart-product__price price price--row cart-product__price--orderinfo">
                <span class="price__current">4900.00<span class="price__unit">р.</span></span>
                <span class="price__old">1200<span class="price__unit">р./шт.</span></span>
              </div>
            </div>
          </div>
        </li>
        <li class="orderinfo__product">
          <div class="cart-product cart-product--orderinfo">
            <div class="cart-product__info">
              <a href="#" class="cart-product__thumbnail" title="">
                <picture class="cart-product__img">
                  <source srcset="img/catalog/product-thumb.webp 1x, img/catalog/product-thumb@2x.webp 2x"
                    type="image/webp">
                  <img src="img/catalog/product-thumb.png" srcset="img/catalog/product-thumb@2x.png 2x"
                    width="87" height="87" alt="Изображение товара">
                </picture>
              </a>
              <div class="cart-product__data">
                <span class="cart-product__sku">Артикул: 43102</span>
                <a href="" class="cart-product__title">Kangaroo Penetrating Lubricant -проникающая смазка
                  (жидкий ключ) 360мл,</a>
              </div>
            </div>
            <div class="cart-product__action">
              <span class="cart-product__orderinfo-quantity">3 шт.</span>
              <div class="cart-product__price price price--row cart-product__price--orderinfo">
                <span class="price__current">4900.00<span class="price__unit">р.</span></span>
                <span class="price__old">1200<span class="price__unit">р./шт.</span></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
  </ul>
</div>
