<div class="page-controls">
  <button class="page-controls__more-btn btn btn--grey" type="button">Показать больше</button>
	<div class="page-controls__paginations paginations">
    <a href="#" class="paginations__prev" disabled>
      <svg width="24" height="24"><use xlink:href="img/sprite.svg#chevron-down"></use></svg>
    </a>
    <a href="#" class="paginations__number is-active">1</a>
    <a href="#" class="paginations__number">2</a>
    <a href="#" class="paginations__number">3</a>
    <a href="#" class="paginations__more">...</a>
    <a href="#" class="paginations__number">99</a>
    <a href="#" class="paginations__next">
      <svg width="24" height="24"><use xlink:href="img/sprite.svg#chevron-down"></use></svg>
    </a>
  </div>
</div>

