<section class="popular">
  <h1 class="popular__title main-title">Популярные категории</h1>
  <ul class="popular__category">
    <li class="popular__item popular__item--l">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat-1.webp 1x img/category/cat-1@2x.webp 2x" type="image/webp">
          <img src="img/category/cat-1.jpg" srcset="img/category/cat-1@2x.jpg" width="243" height="224" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Моторные масла</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item popular__item--xl">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat-2.webp 1x img/category/cat-2@2x.webp 2x" type="image/webp">
          <img src="img/category/cat-2.jpg" srcset="img/category/cat-2@2x.jpg 2x" width="510" height="224" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Другие масла и спецжидкости</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item popular__item--m">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat-3.webp 1x img/category/cat-3@2x.webp 2x" type="image/webp">
          <img src="img/category/cat-3.jpg" srcset="img/category/cat-3@2x.jpg 2x" width="244" height="162" alt="Фото тех. жидкости">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Тех. жидкости</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat.webp 1x img/category/cat@2x.webp 2x" type="image/webp">
          <img src="img/category/cat.jpg" srcset="img/category/cat@2x.jpg 2x" width="243" height="100" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Фильтры</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat.webp 1x img/category/cat@2x.webp 2x" type="image/webp">
          <img src="img/category/cat.jpg" srcset="img/category/cat@2x.jpg 2x" width="243" height="100" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Прочее</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item popular__item--m popular__item--tablet-s">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat-3.webp 1x img/category/cat-3@2x.webp 2x" type="image/webp">
          <img src="img/category/cat-3.jpg" srcset="img/category/cat-3@2x.jpg 2x" width="244" height="162" alt="Фото аккумуляторы">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Аккумуляторы</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat.webp 1x img/category/cat@2x.webp 2x" type="image/webp">
          <img src="img/category/cat.jpg" srcset="img/category/cat@2x.jpg 2x" width="243" height="100" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Для дома и офиса</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat.webp 1x img/category/cat@2x.webp 2x" type="image/webp">
          <img src="img/category/cat.jpg" srcset="img/category/cat@2x.jpg 2x" width="243" height="100" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Авто. химия</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat.webp 1x img/category/cat@2x.webp 2x" type="image/webp">
          <img src="img/category/cat.jpg" srcset="img/category/cat@2x.jpg 2x" width="243" height="100" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">Смазки</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
    <li class="popular__item">
      <a href="#" class="category-card">
        <picture class="category-card__img">
          <source srcset="img/category/cat.webp 1x img/category/cat@2x.webp 2x" type="image/webp">
          <img src="img/category/cat.jpg" srcset="img/category/cat@2x.jpg 2x" width="243" height="100" alt="category img">
        </picture>
        <div class="category-card__info">
            <h3 class="category-card__name">POS-материалы</h3>
            <p class="category-card__count">13 товаров</p>
        </div>
      </a>
    </li>
  </ul>
</section>
