<section class="post-promotion">
  <div class="post-promotion__img-wrap">
    <picture class="post-promotion__img">
      <source srcset="img/promotion/no-photo-thumb.webp 1x, img/promotion/no-photo-thumb@2x.webp 2x" type="image/webp">
      <img src="img/promotion/no-photo-thumb.jpg" srcset="img/promotion/no-photo-thumb@2x.jpg 2x" width="664" height="365" alt="banner promotion">
    </picture>
    <span class="post-promotion__note">* Опубликовано 07 февраля 2025 г.</span>
  </div>
  <div class="post-promotion__content">
    <h1 class="post-promotion__title">Наименование акции с очень большим заголовком и красивыми словами</h1>
    <div class="post-promotion__conditions conditions">
      <span class="conditions__caption">Условия акции:</span>
      <p class="conditions__text">
        Дрели-шуруповерты безударные — это электроинструмент для быстрого и точного сверления или работ с крепежом. Подходят для просверливания отверстий в дереве, металле, пластике. В отличие от ударных моделей, доступны два режима работы — сверление и закручивание. Для бытовых и полупрофессиональных устройств корпус изготавливается из пластика. Для профессионального инструмента он выполняется из металла, обычно алюминия.
      </p>
    </div>
  </div>
</section>
