<section class="product-post">
  <!-- Изображение товара -->
  <picture class="product-post__img">
    <source srcset="img/product/product-img.webp" type="image/webp">
    <img loading="lazy" src="img/product/product-img.png" width="533" height="568" alt="Изображение товара">
  </picture>
  <!-- Информация о товаре -->
   <div class="product-post__info">
      <!-- Бренд -->
      <div class="product-post__brand">
        <img class="product-post__img" src="img/product/brand-img.svg" width="" height="" alt="Логотип бренда">
      </div>
      <div class="product-post__data">
        <!-- Название товара -->
        <h1 class="product-post__title">ЛУКОЙЛ ЛЮКС синтетическое 5W-30 4л.</h1>
        <!-- Артикул и Количество в наличии -->
        <div class="product-post__meta">
          <span class="product-post__sku">Артикул: <span>43102</span></span>
          <span class="product-post__status">В наличии <span>26</span>шт.</span>
        </div>
        <div class="product-post__sta">
          <!-- Цены -->
          <div class="product-post__price price">
            <span class="price__current">4900 <span class="price__unit">р.</span></span>
            <span class="price__old">1352.00 <span class="price__unit">р.</span></span>
          </div>
          <div class="product-post__action">
            <!-- Количество -->
            <div class="quantity">
              <div class="quantity__control" aria-label="Выбор количества">
                <button class="quantity__btn quantity__btn--minus" disabled aria-label="Уменьшить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-minus"></use>
                  </svg>
                </button>
                <span class="quantity__value" aria-label="Количество товара">1</span>
                <button class="quantity__btn quantity__btn--plus" aria-label="Увеличить количество">
                  <svg class="quantity__icon">
                    <use xlink:href="img/sprite.svg#icon-plus"></use>
                  </svg>
                </button>
              </div>
              <!-- Кнпока Добавить в корзину -->
              <button class="product-post__add-to-cart add-to-cart" aria-label="Добавить в корзину">
                <span class="add-to-cart__text">Купить</span>
              </button>
            </div>
          </div>
        </div>
      </div>
   </div>
</section>
