<section class="promotion">
  <h1 class="promotion__title main-title">Акции</h1>
  <div class="promotion__content">
    <ul class="layout layout--3" id="promotionList">
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item">
        <a href="post-promotion.html" class="promotion-card">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>

      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
      <li class="layout__item is-hidden">
        <a href="post-promotion.html" class="promotion-card is-hidden">
          <picture class="promotion-card__img">
            <source srcset="img/promotion/no-photo-card.webp 1x, img/promotion/no-photo-card@2x.webp 2x" type="image/webp">
            <img src="img/promotion/no-photo-card.jpg" srcset="img/promotion/no-photo-card@2x.jpg 2x" width="420" height="240" alt="banner promotion">
          </picture>
          <div class="promotion-card__info">
            <div class="promotion-card__date promotion-date">
              <img src="img/icon/promotion-calendar.svg" width="w16" height="16" alt="иконка календарь" aria-hidden="true">
              <span class="promotion-date__text">с 1 апреля до 17 апреля 2025 года</span>
            </div>
            <h2 class="promotion-card__title">Огромный красивый заголовок акции</h2>
          </div>
        </a>
      </li>
    </ul>
    <button class="promotion__more-btn btn btn--grey" data-is-loading="false" type="button">Показать еще</button>
  </div>
</section>
