<aside class="sidebar">
  <div class="sidebar__secion">
    <h2 class="sidebar__title">Каталог</h2>
    <ul class="nav-categories">
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Моторные масла</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Другие масла и спецжидкости</span>
          <span class="nav-categories__count">22</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Тех.жидкости</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Фильтры</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Автомобильная химия</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Смазки</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Прочее</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Аккумуляторы</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
      <li class="nav-categories__item">
        <a href="#" class="nav-categories__link">
          <span class="nav-categories__name">Для дома и офиса</span>
          <span class="nav-categories__count">72</span>
          <svg class="nav-categories__icon">
            <use xlink:href="img/sprite.svg#chevron-down"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</aside>
