:root {
  // base
  --font-family: "Inter", sans-serif;
  // --second-family: "Rubik", sans-serif;
  --content-width: 1312px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --black: #000404;
	--grey: #808080;
	--border: #e1e4e8;
	--bg: #f3f5f8;
	--white: #fff;
	--accent: #e1110e;
	--dark-red: #b60705;
	--light-red: #f8c2c1;
	--green: #2eaf00;
	--orange: #ff7a00;
  --border-info: #9dc0ee;
  --border-success: #48c1b5;
  --border-error: #f8c2c1;
  --bg-info: #f5f9ff;
  --bg-success: #f6fff9;
  --bg-error: #fff5f3;

  // animaition
  --duration: .3s;
}

